<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar" class="d-flex">
    <p><%= link_to "Simple Airbnb!", flats_path %></p>
     <p><%= link_to "Add a flat", new_flat_path %></p>
    </div>
    <%= yield %>
  </body>
</html>
